::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  background: #232323;
}
::-webkit-scrollbar-track {
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #535353;
  transition: all .2s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #606060;
}

html,body {
    margin:0;
    height:100%;
    min-height:100%;
    font-size: 13px;
    color: #ccc;
}

a{
  color:#fff;
  text-decoration: none;
}
a:hover{
  color:#75b325;
}

.vular-studio{
  display: flex;
  display: -webkit-flex;
  height: 100%;
  width: 100%;
  flex-flow:column;
}

.vular-studio .logo{
  color:#75b325; font-size:22px;font-weight:600;
}

.vular-studio .toolbar{
  display: flex;
  width: 100%;
  height: 44px; 
  background: #363932;
  align-items: center;
  justify-content: space-between;
}
.vular-studio .button{
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  color:#fff;
}

.vular-studio .button:hover{
  background: #494d44;
}

.vular-studio .button i{
  margin-right: 5px;
  font-size: 16px;
}

.vular-studio .button.new i{
  color:#9da98d;
}

.vular-studio .button.open i{
  color:#9e71a5;
}

.vular-studio .button.save i{
  color:#8cdb27;
}

.vular-studio .button.about i{
  color:#d8d2f4;
}

.vular-studio .toolbar .left{
  padding-left: 10px;
  display: flex;
  flex-flow: row;
}

.vular-studio .toolbar .right{
  padding-right: 10px;
  display: flex;
  flex-flow: row;
}

.vular-studio .workspace{
  display: flex;
  display: -webkit-flex;
  width: 100%;
  flex:1;
  background: #272727;
  flex-flow: row;
}

.vular-studio .left-area{
  width: 280px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  border:solid #1a1a1a 1px;
}

.vular-studio .left-area .left-handle{
  width: 3px;
  cursor: w-resize;
}

.vular-studio .center-area{
  flex : 1;
  display: flex;
  flex-flow: column;
}


.vular-studio .right-area{
  width: 280px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  border:solid #1a1a1a 1px;
}

.vular-studio .right-area .right-inner{
  flex:1;
}

.vular-studio .right-area .right-handle{
  width: 3px;
  cursor: w-resize;
}

.vular-studio .center-area .content{
  flex: 1;
  display: flex;
  flex-flow: column;
}
.vular-studio .center-area .bottom{
  height: 180px;
  display: flex;
  flex-flow: column;
  border-top:solid #1a1a1a 1px;
}

.vular-studio .center-area .bottom .bottom-inner{
  flex: 1;
  display: flex;
}

.vular-studio .center-area .bottom-handle{
  height: 3px;
  cursor: s-resize;
}

.vular-studio .center-area .content .tab-heads{
  height: 33px;
  display: flex;
  align-items: flex-end;
}

.vular-studio .center-area .tab-heads .head-item{
  height: 30px;
  font-size: 12px;
  color:#FFF;
  padding-left:10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  cursor: default;
}

.vular-studio .center-area .tab-heads .head-item.active{
  background: #494c45;
  border-radius: 3px 3px 0 0;
}

.vular-studio .center-area .tab-heads .head-item .close{
  margin-left: 10px;
  background: #272727;
  width: 16px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding-bottom: 2px;
  cursor: pointer;
  font-weight: bold;
}

.vular-studio .center-area .tab-heads .head-item .close:hover{
  background: #e62121;

}

.vular-studio .center-area .content .tab-body{
  flex: 1;
  display: flex;
  flex-flow: column;
}

.vular-studio .center-area .content .page-toolbar{
  height: 35px;
  background: #494c45;
}

.vular-studio .center-area .content .page-content{
  display: flex;
  flex: 1;
  flex-flow: row;
  padding: 10px;
}

.vular-studio .content-scroll{
  overflow: auto;
  flex-grow: 1;
  height: calc(100vh - 310px);
  width: 0;
}

.vular-studio .center-area  .canvars{
  background: #fff;
  width: 1200px;
  height: 1000px;
  display: flex;
  flex-flow: column;
}

.vular-studio .scroll-y{
  overflow-y: auto;
  flex-grow: 1;
  height: 0;
  width: 100%;
}


.vular-studio .widget-tabs{
  display: flex;
  flex-flow: column;
}

.vular-studio .widget-tabs .heads{
  display: flex;
  flex-flow: row;
  justify-content:flex-start;
  font-size: 12px;
  height: 32px;
  align-items: flex-end;
}

.vular-studio .widget-tabs .heads .item{
  padding: 0 10px;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: default;
  border-radius: 3px 3px 0 0;
  border-top:solid #222 1px;
}

.vular-studio .widget-tabs .heads .item.active{
  color: #fff;
  background: #323332;
  border-right:solid #222 1px;
  border-left:solid #222 1px;
  border-top:solid #222 1px;
}

.vular-studio .widget-tabs .tab-body{
  width: 100%;
  flex: 1;
  background: #323332;
  border-radius: 2px;
  border-right:solid #222 1px;
  border-bottom:solid #222 1px;
  border-left:solid #222 1px;
}

.vular-studio .left-area .left-inner{
  flex:1;
  display: flex;
  flex-flow: column;
}

.vular-studio .left-inner .left-top{
  flex: 1;
}

.vular-studio .left-inner .left-bottom{
  height: 280px;
}

.vular-studio .right-area .right-inner{
  flex:1;
  display: flex;
  flex-flow: column;
}

.vular-studio .right-inner .right-top{
  flex: 1;
}

.vular-studio .right-inner .right-bottom{
  height: 280px;
}